.st3,
.st4,
.st5 {
  pointer-events: none;
  font-size: 20px;
  font-weight: 700;
}

.st1 {
  fill: none;
}

.st2 {
  fill: #928ec2;
}

.st6 {
  font-size: 40px;
  fill: #000000;
  font-weight: 700;
}
.st7 {
  font-size: 40px;
  fill: #ffffff;
  font-weight: 700;
}
