@keyframes gradient-border {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.gradientBorder {
  background: linear-gradient(90deg, #d31c21, #f8fafa, #d31c21);
  background-size: 200% 200%;
  animation: gradient-border 3s ease infinite;
  padding: 2px;
  border-radius: 1rem;
}

.gradientBorderInner {
  border-radius: 1rem;
  background-color: white;
}
